.message {
  // .message__additions
  display: flex;
  align-items: end;
  
  &__content {
    border-radius: 5px;
    border: 1px solid #ebebeb;
    padding: 10px;
    background:#fff;
  }
  &__avatar {
    flex-shrink: 0;
    margin-right: 20px;
  }
  &__additions {
  }
}
