.btn{    
    border-radius: 5px;
    border:none;
    outline: none;
    padding: 0.5rem;
    &_primary{
        background: #3498db;
        color: white;
        &:hover{
            background: #2C3E50;
        }
        
    }     
    cursor: pointer; 
     
    
    &_active{ 
        background:#ebebeb;
    }
}